
<div>
  {{!-- <h1 class="conteudo">{{text}}</h1> --}}
  <form>
    <input placeholder="Location">
    <button>Search</button>
  </form>
  
  <p id="placeName"></p>
  <p id="description"></p>
  <p id="temperature"></p>

</div>